body {
    background-color: #D6D7DA;
    font-family: "Manrope", sans-serif;
}

.CajaPrincipal {
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    width: 80%;
    margin: 0 auto;
}

.InformacionPrincipalDeLaIzquierda {
    background-color: #FFFFFF;
    display: grid;
    border-radius: 30px 0px 0px 30px;
}

.Izquierda {
    margin: 0 1;
    padding-left: 10%;
    padding-right: 5%;

}

.BuscarCiudad{
    margin-left: 1vw;
    #Buscar {
        margin-top: 2.5vw;
        width:60%;
        height: 20px;
        border: solid 0px;
        font-size: 1vw;
    }

    .BotonBuscar {
        font-size: 0.8vw;
        height: 1.8vw;
        width: 1.8vw;
        border: solid 0px;
        border-radius: 50%;
        margin-left: 1.5vw;
        cursor: pointer;
    }
}





.Logo {
    width: 100%;
}

#TemperaturaActual {
    font-size: 4.0vw;
    margin-top: -3.0rem;
    margin-bottom: -0.4rem;
}

#DiaYHora {
    font-size: 1.3vw;
    font-weight: 700;
}

.InformacionPrincipalDeLaDerecha {
    position: relative;
    background-color: #F6F6F8;
    border-radius: 0px 30px 30px 0px;
}