body {
  background-color: #d6d7da;
  font-family: "Manrope", sans-serif;
}

h3 {
  font-size: 1.2vw;
  margin-top: -1px;
}
.CajaPrincipal {
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  width: 80%;
  margin: 0 auto;
}

.InformacionPrincipalDeLaIzquierda {
  background-color: #ffffff;
  display: grid;
  border-radius: 30px 0px 0px 30px;

  .Izquierda {
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
  }

  .BuscarCiudad {
    margin-left: 1vw;
    #Buscar {
      margin-top: 2.5vw;
      width: 60%;
      height: 20px;
      border: solid 0px;
      font-size: 1vw;
    }

    .BotonBuscar {
      font-size: 0.8vw;
      height: 1.8vw;
      width: 1.8vw;
      border: solid 0px;
      border-radius: 50%;
      margin-left: 1.5vw;
      cursor: pointer;
    }
  }

  .Logo {
    width: 100%;
  }

  #TemperaturaActual {
    font-size: 4vw;
    margin-top: -3rem;
    margin-bottom: -0.4rem;
  }

  .DiaYHora {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    font-size: 1.3vw;

    #Dia {
      font-weight: 700;
    }

    #Hora {
      color: #c7c7c7;
    }
  }

  .DescripcionDelDiaGlobal {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    font-size: 1vw;
    align-items: center;

    #LogoDescripciónDelDia {
      width: 60%;
    }

    #DescripcionDelDia {
      margin-left: -14%;
    }
  }

  .ProbabilidadDeLluvia {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    font-size: 1vw;
    align-items: center;

    #LogoProbabilidadLluvia {
      width: 25%;
      padding-left: 15%;
    }

    #ProbabilidadDeLluvia {
      margin-left: -14%;
    }
  }
}

.InformacionPrincipalDeLaDerecha {
  position: relative;
  background-color: #f6f6f8;
  border-radius: 0px 30px 30px 0px;

  .Prediccion7Dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .Prediccion {
      background-color: aqua;
      text-align: center;
      margin: 20px;
      border: solid 0px;
      border-radius: 15px;
    }

    .Temperaturas {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .Estadisticas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 50px;

    .Estadistica {
      color: rgb(0, 0, 0);
      width: 200px;
      background-color: #FFFFFF;
      border-radius: 30px;
      padding: 20px;
      margin: 0 auto;
      max-width: 500px;

      h3 {
        margin-bottom: 5px;
      }
    }


    #VelocidadViento {
      font-size: 2.2vw;
      margin-bottom: 1.0vw;
    }
    .EstadisticasViento {
      display: grid;
      grid-template-columns: 0.3fr 1fr;
      align-items: center;
  
      #DireccionViento {
        width: 30px;
        height: 30px;
        border: 2px solid #c5c5c5;
        border-radius: 20px;
      }
    }

    .SalidaSol {
      display: grid;
      grid-template-columns: 0.4fr 1fr;
      align-items: center;
      margin: 0 auto;
    }

    #IconoSol {
      width: 80%;

    }
    
    #HoraSalidaSol #HoraPuestaSol {
      font-size: 2rem;
    }
    .SalidaSol:first-of-type {
      padding-top: 20px;
    }
    
    #Humedad {
      font-size: 2.2vw;
      margin-bottom: 1.0vw;
    }

    #Visibilidad {
      font-size: 2.2vw;
      margin-bottom: 1.0vw;
    }

    .QualidadDelAireGlobal {
      display: grid;
      align-items: center;
      align-self: center;
      grid-template-columns: 1fr 0.5fr;

      #QualidadAire {
        font-size: 1.2vw;
        margin-bottom: 1.0vw;
      }

      #GraficoQualidadAire {
        width: 60%;
        padding-left: 0.5vw;
      }
    }

    
    
  }
}
